include LICENSE
include README.md
include pyproject.toml
recursive-include config *.yaml *.json
recursive-include data/models *.h5 *.pkl *.pt
recursive-include data/scenarios *.yaml *.json
recursive-include docs *.md *.rst *.txt